@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
:root{
    --orange : #f17c0e;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #000;
}
#sample{
    height: 100vh;
}
p{
    font-size: 1.6rem;
    line-height: 2.5rem;
}
/* Hero */
#hero{
    height: 100vh;
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/d2322952c821563c9989f1aa/pexels-photo-3136673.jpeg);
    background-size: cover;
    background-position: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    height: 8rem;
    width: 100%;
    border: 1px solid #fff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    color: #fff;
}
.navigators{
    display: flex;
    list-style: none;
}
.navigators li{
    margin: 0 1.5rem;
}
.navigators li a {
    font-size: 1.8rem;
    color: #fff;
    position: relative;
}
.navigators li a::after{
    width: 0%;
    left: 50%;
    height: 3px;
    border-radius: 3rem;
    background-color: #fff;
    bottom: -6px;
    content: '';
    position: absolute;
    transition: all .3s ease;
    transform: rotate(45deg);
}
.navigators li a:hover::after{
    width: 100%;
    left: 0;
    transform: rotate(0deg);
}
.hamburger{
    position: relative;
    width: 40px;
    cursor: pointer;
    display: block;
    height: calc(4px * 3 + 11px * 2);
    display: none;
}
.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #fff;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
  }
    
  .bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s) * .6;
  }
  
  .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity,transform;
    transition-delay: calc(0s + 0.35s * .3);
  }
  
  .bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
  }
  
 .hamburger.active .bar--top {
    transform: rotate(-135deg);
    transition-delay: 0s;
    bottom: calc(50% - 4px/ 2);
  }
  
  .hamburger.active .bar--middle {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(0s + 0.35s * .3);
  }
  
  .hamburger.active .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-225deg);
    transition-delay: calc(0s + 0.35s * .6);
  }
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: 1rem 1.5rem;
}
.search input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}
.search input::placeholder{
    font-size: 1.7rem;
    color: #bbbbbb;
}
.search i{
    margin-left: 1rem;
    font-size: 2rem;
    color: #bbbbbb;
}
.hero{
    width: 100%;
    height: calc(100% - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00000047;
}
.hero-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    width: 85rem;
    margin-top: 20vh;
}
.hero-main h1{
    font-size: 6rem;
}
.hero-main p{
    font-size: 1.8rem;
}
.hero-main > p{
    margin: 2.5rem 0;
    font-size: 1.7rem;
}
/* Features */
#features{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;
}
.features-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin: 6rem;
}
.features-header h1{
    font-size: 4rem;
}
.features{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.features-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    width: 350px;
    padding: 1.5rem 3rem;
    text-align: center;
    margin: 2rem;
}
.features-box i{
    font-size: 3rem;
    background-color: var(--orange);
    color: #fff;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-box h1{
    font-size: 2.5rem;
    margin-top: 2rem;
}
.features-box p{
    margin: 2rem 0;
    height: 80px;
}
.btn{
    font-size: 1.9rem;
    color: var(--orange);
    font-weight: 700;
    border-radius: 3rem;
    border: 2px solid var(--orange);
    transition: all .3s ease;
    padding: 1.1rem 3rem;
}
.btn:hover{
    color: #fff;
    background-color: var(--orange);
}
/* Faq */
#faq{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;
}
.faq-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 2.5rem 0;
    color: #fff;
    padding: 0 2rem;
}
.faq-header h1{
    font-size: 6rem;
}
.faq-header p{
    margin-top: 2rem;
}
.faq{
    width: 850px;
    color: #fff;
}
.faq-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
.faq-menu li{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1.5rem;
    cursor: pointer;
}
.faq-menu li:hover {
    color: #dfdfdf;
}
.faq-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 600;
    height: 7rem;
    border-bottom: 1px solid #fefefe;
    margin: 1rem 0;
    padding: 0 2rem;
}
.faq-main i{
    font-size: 2.5rem;
    margin-left: 1rem;
}
.faq-drop{
    text-align: left;
    font-size: 1.7rem;
    padding: 2.5rem 1rem;
    margin-bottom: 3rem;
    display: none;
}
.faq-menu li.active .faq-main{
    background-color: #f17c0e;
}
.faq-menu li.active .faq-drop{
    display: inherit;
}
/* Best */
#best{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem 0;
    color: #fff;
}
.best-left{
    text-align: left;
    width: 500px;
    padding: 0 2rem;
}
.best-left h1{
    font-size: 3.5rem;
}
.best-left p{
    margin-top: 2rem;
}
.best-right{
    text-align: left;
    width: 500px;
    padding: 4rem 4rem;
    background-color: var(--orange);
}
.best-right h1{
    font-size: 2rem;
}

.best-right ol li{
    margin: 2rem 0;
    font-size: 1.6rem;
}
/* Showcase */
#showcase{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
    flex-wrap: wrap;
}
.showcase-box{
    width: 390px;
    height: 270px;
    cursor: pointer;
}
.showcase-box:hover img{
    filter: brightness(.7);
    transform: scale(1.01);
}
.showcase-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
}
.showcase-over{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.showcase-over-box{
    width: 70%;
    height: 50%;
}
.showcase-over-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.showcase-over i{
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    right: 3rem;
}
/* Companies */
#companies{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.companies{
    width: 1200px;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 20rem;
    min-width: 400px;
}
#companies h1{
    justify-self: flex-start;
    font-size: 6rem;
    width: 50%;
}
#companies h2{
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 4rem;
}
#companies h2 span{
    color: var(--orange);
}
/* Ride */
#ride{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}
.ride{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ride-img {
    width: 60vw;
}
.ride-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ride-text{
    margin-left: 4rem;
    font-size: 3.5rem;
    color: #fff;
    text-align: right;
    font-weight: 700;
    padding: 0 2rem;
}
@media screen and (max-width:1000px) {

    .hero-main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        text-align: center;
        width: 56rem;
        margin-top: 0;
    }
    .hero-main h1{
        font-size: 5rem;
    }
    .faq {
        width: 85%;
        color: #fff;
    }
    #best{
        flex-direction: column;
        align-items: center;
    }
    .best-left{
        width: 80%;
    }
    .best-right{
        width: 80%;
        margin-top: 3rem;
    }
    .ride{
        flex-direction: column;
    }
    .ride-img{
        width: 80%;
    }
}
@media screen and (max-width:900px) {
    .hamburger{
        display: inherit;
    }
    .navigators{
        position: fixed;
        left: -100%;
        top: 8rem;
        background-color: #000;
        height: 100vh;
        width: 100%;
        transition: all .3s ease;
        flex-direction: column;
        padding: 2.5rem 4rem;
        align-items: center;
    }
    .navigators.active{
        left: 0;
    }
    .navigators li{
        margin: 3rem 0;
    }
    .navbar{
        width: 90%;
    }
    #companies h1 {
        font-size: 5rem;
        width: 78%;
    }
}

@media screen and (max-width:700px) {
    .hero-main h1{
        font-size: 4rem;
    }
    .hero-main{
        width: 80%;
    }
    .companies {
        gap: 10rem;
    }
    #companies h1 {
        font-size: 4rem;
        width: 85%;
    }
    #companies h2{
        font-size: 3rem;
    }
    .ride-text {
        font-size: 3rem;
    }
}
@media screen and (max-width:500px) {
    .hero-main{
        width: 90%;
    }
    .hero-main h1{
        font-size: 3rem;
    }
    .navbar {
        width: 95%;
    }
    .features-header h1 {
        font-size: 3rem;
    }
    .features-box {
        width: 90%;
    }
    .faq-header h1{
        font-size: 3rem;
    }
    .faq {
        width: 90%;
        color: #fff;
    }
    .best-left h1{
        font-size: 2rem;
    }
    .best-left{
        width: 90%;
    }
    .best-right{
        width: 90%;
    }
    .showcase-box{
        width: 90%;
    }
    .companies {
        min-width: 90%;
    }
    #companies h1 {
        font-size: 3.3rem;
    }
    #companies h2 {
        font-size: 2.4rem;
    }
}
